{% extends "base.html" %}

{% block title %} 关于我 {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/about_me/about_me.css') }}" rel="stylesheet">
{% endblock %}

{% block context %}
    <section id="base" class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card mr-lg-2 mb-3">
                <div class="card-header"> 关于我 </div>
                <div class="card-body">
                    <h4 class="card-title"> {{ conf['about-me-name'] }} </h4>
                    <h5 class="card-subtitle"> 博主 </h5>
                    <p class="card-text"> {{ conf['about-me-describe'] }} </p>


                    {% for link in conf['describe-link'] %}
                        <a class="card-link" href="{{ conf['describe-link'][link] }}"> {{ link }} </a>
                    {% endfor %}
                </div>
            </div>

            <div class="card mr-lg-2 mb-3 mb-lg-0">
                <div class="card-header"> 项目 </div>
                <div class="card-body">
                    {% for p in conf["about-me-project"] %}
                        <h4 class="card-title"> {{ p }}-项目 </h4>
                        <ul>
                            {% for i in conf["about-me-project"][p] %}
                                <li class="card-text"> {{ i }} </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card ml-lg-2 mb-3">
                <div class="card-header"> 技术栈 </div>
                <div class="card-body">
                    {% for p in conf["about-me-skill"] %}
                        <h4 class="card-title"> {{ p }}-项目 </h4>
                        <ul>
                            {% for i in conf["about-me-skill"][p] %}
                                <li class="card-text"> {{ i }} </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <div class="card ml-lg-2">
                <div class="card-header"> 阅读栈 </div>
                <div class="card-body">
                    <ul>
                        {% for i in conf["about-me-read"] %}
                            <li class="card-text"> 《{{ i }}》 </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}