.comment {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #FFDC00;
    padding: 15px;
    background-color: white;
}

.comment .comment-title {
    color: black;
    text-decoration: none;
}

.modal div {
    background-color: white;
    border-radius: 10px;
}