{% extends "base.html" %}

{% block title %} 文档 {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/docx/article.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.md/css/editormd.min.css') }}" />
{% endblock %}

{% block context %}
    <section id="base" class="container mt-3">
        {% if current_user.check_role("ReadBlog") %}
            {# 检查是否具有读取权限 #}
            <div class="row">
                <article class="col-12">
                    <h1> {{ article.title }} <small> {{ article.subtitle }} <small> {{ article.update_time}} </small> </small> </h1>
                    {% for archive in article.archive %}
                        <span class="badge badge-info"> {{ archive.name }} </span>
                    {% endfor %}
                    <a href="{{ url_for('docx.article_down_page', blog_id=article.blog_id) }}"> 下载 </a>
                    <hr>

                    <div id="markdown-view">
                        {# 不要插入label #}
                        <textarea style="display:none;"> {{ article.context }} </textarea>
                    </div>
                </article>
            </div>
        {% endif %}

        {% if current_user.check_role("ReadComment") %}
            <div class="row">
                <article class="col-12">
                    <h1 class="mt-3"> 评论 </h1>

                    <section class="col-12 text-right">
                        <form action="{{ url_for('docx.comment_page', blog_id=article.blog_id) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.context(class="form-control mb-2", rows="3") }}
                            {% for error in form.context.errors %}
                                <small class="text-danger form-text text-left"> {{ error }} </small>
                            {% endfor %}

                            <div id="CommentModal" class="modal fade" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content text-left">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="CommentModalLabel"> 确认评论？ </h4>
                                        </div>
                                        <div class="modal-body">
                                            <p> 是否确认评论？请注意网络用语文明。 </p>
                                        </div>
                                        <div class="modal-footer">
                                            {{ form.submit(class="btn btn-danger", value="确认") }}
                                            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#CommentModal"> 评论 </button>
                        </form>
                    </section>
                    <hr>

                    {% for comment in article.comment %}

                        {% if show_delete %}
                            <div id="DeleteModal{{comment.comment_id}}" class="modal fade" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content text-left">
                                        <div class="modal-header">
                                            <h4 class="modal-title"> 确认删除评论？ </h4>
                                        </div>
                                        <div class="modal-body">
                                            <p> 是否确认删除评论？ </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger"
                                               href="{{ url_for("docx.delete_comment_page", comment_id=comment.comment_id) }}"> 删除 </a>
                                            <button type="button" class="btn btn-outline-dark" data-dismiss="modal"> 取消 </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <section class="col-12">
                            <div class="comment">
                                <p class="comment-title h5">
                                    {% if show_email %}  {# 判断是否可读取用户信息 #}
                                        {{ comment.auth.email }}
                                    {% else %}
                                        {{ comment.auth.s_email }}
                                    {% endif %}

                                    {% if show_delete %}
                                        <a class="mb-2"
                                            data-toggle="modal" data-target="#DeleteModal{{comment.comment_id}}"> &times; </a>
                                    {% endif %}

                                    <br>
                                    <small> {{ comment.update_time }} </small>
                                </p>
                                <p> {{ comment.context.replace('\n', '<br>') | safe  }} </p>
                            </div>
                        </section>
                    {% endfor %}
                </article>
            </div>
        {% endif %}
    </section>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='editor.md/editormd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editor.md/lib/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editor.md/lib/prettify.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            let editor = editormd.markdownToHTML("markdown-view", {
                path: "{{ url_for('static',filename='editor.md/lib/') }}",
                saveHTMLToTextarea: true,
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
            });
        });
    </script>
{% endblock %}