{% extends "base.html" %}

{% block title %} 博客 {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/docx/docx.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.md/css/editormd.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.md/css/sons-of-obsidian.css') }}" />
{% endblock %}

{% block content %}
    <section id="base" class="container mt-3">
        {% if form and current_user.check_role("WriteBlog") %}
            {# 判断是否有权限写博客 #}
            <div class="row">
                <div class="col-12">
                    <div class="markdown">
                        <form action="{{ url_for('docx.create_docx_page', page=page) }}" method="post" class="was-validated">
                            {{ form.hidden_tag() }}
                            {{ macro.render_field(form.title) }}
                            {{ macro.render_field(form.subtitle) }}
                            {{ macro.render_select_field(form.archive) }}
                            <div id="editor">
                                {{ form.content(class="form-control mb-2", style="display:none;") }}
                            </div>
                            {% for error in form.content.errors %}
                                <div class="invalid-feedback"> {{ error }} </div>
                            {% endfor %}

                            <div id="CreateModal" class="modal fade" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content text-start">
                                        <div class="modal-header">
                                            <h4 class="modal-title"> 确认发表？ </h4>
                                        </div>
                                        <div class="modal-body">
                                            <p> 是否确认发表博文？请注意校对文本。 </p>
                                        </div>
                                        <div class="modal-footer">
                                            {{ form.submit(class="btn btn-danger", value="确认") }}
                                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-end">
                                <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#CreateModal"> 发表 </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
        {% endif %}

        {% if current_user.check_role("ReadBlog") %}
            {# 检查是否具有读取权限 #}
            {% cache conf["LIST_CACHE_EXPIRE"], ":blog", ":page", cache_str %}
                <div id="ReadBlogList" class="row">
                    <article class="col-12">
                    {% for blog in blog_list %}
                        {% if blog.top %}
                            {{ render_docx_top(blog, show_delete) }}
                        {% else %}
                            {{ render_docx(blog, show_delete) }}
                        {% endif %}
                    {% endfor %}
                    </article>
                </div>


                <ul id="ReadBlogPageList" class="pagination col-12 justify-content-center">
                    {{ macro.get_page_list(page_list, page) }}
                </ul>

            {% endcache %}

        {% endif %}
    </section>
{% endblock %}

{% block javascript %}
    {{ super() }}

    {% if form and current_user.check_role("WriteBlog") %}
        <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='editor.md/editormd.js') }}"></script>
        <script type="text/javascript">
            $(function() {
                let editor = editormd("editor", {
                    height: document.documentElement.clientHeight * 0.5,
                    path: "{{ url_for('static',filename='editor.md/lib/') }}",
                    placeholder: "请写下你的日志...",
                    codeFold: true,
                    emoji: true,
                    taskList: true,
                    tex: true,
                    onfullscreen() {
                        document.getElementById("ReadBlogList").style.visibility = 'hidden';
                        document.getElementById("ReadBlogPageList").style.visibility = 'hidden';},
                    onfullscreenExit() {
                        document.getElementById("ReadBlogList").style.visibility = 'visible';
                        document.getElementById("ReadBlogPageList").style.visibility = 'visible';},
                });
            });
        </script>
    {% endif %}
{% endblock %}