{% extends "base.html" %}

{% block title %} 错误 {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/index/index.css') }}" rel="stylesheet">
{% endblock %}

{% block context %}
    <section id="base" class="container mt-3">
        <div class="row">
            <div class="col-12 text-center">
                <p><strong> {{ error_info }} </strong></p>
                <a class="btn btn-info" href="{{ url_for("base.index_page") }}"> 回到主页 </a>
            </div>
        </div>
    </section>
{% endblock %}