{% extends "base.html" %}

{% block title %} 欢迎 {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/index/hello.css') }}" rel="stylesheet">
    <style>
        body {
            background-image: url("{{ url_for('oss.get_page', name="hblog/bg-img.jpg") }}");
            overflow-y: hidden;
            overflow-x: hidden;
        }
    </style>
{% endblock %}

{% block nav %} {% endblock %}

{% block content %}
    <section id="title-section">
        <h1 id="title-1"> 欢迎，这里是《{{ blog_name }}》 </h1>
        <form method="get" action=" {{ url_for('base.index_page') }} " class="was-validated">
            <input id="btn" type="submit" value="进入">
        </form>
    </section>
{% endblock %}

{% block footer %}
    {% if conf["ICP"] %}
        <footer id="foot">
            <a id="ICP" href="https://beian.miit.gov.cn" target="_blank"
                style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" >
                {{ conf['ICP'] }} </a>
            {% if conf["GONG_AN"] %}
                <br> <a id="GONG_AN" target="_blank"
                   href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44011402000783"
                   style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                    <img src="{{ url_for('static', filename='wangan.png') }}" style="float:left;"/>
                    {{ conf["GONG_AN"] }}
                </a>
            {% endif %}
        </footer>

        <script>
            function SetFooter (mutationsList, observer) {
                let foot = document.getElementById('foot')
                let content_height = content.getBoundingClientRect().bottom
                let win_height = 0
                if (window.innerHeight)
                    win_height = window.innerHeight;
                else if ((document.body) && (document.body.clientHeight))
                    win_height = document.body.clientHeight;

                if (win_height - content_height - foot.clientHeight <= 0)
                    foot.style.marginTop = "0"
                else
                    foot.style.marginTop = (win_height - content_height - foot.clientHeight).toString() + "px"
            }
            let MutationObserver = window.MutationObserver;
            let observer = new MutationObserver(SetFooter);
            let content = document.getElementById('content')
            observer.observe(content, {
                attributes: true, // 属性的变动
                subtree: true, // 是否将观察器应用于该节点的所有后代节点
            });
            SetFooter()
        </script>
    {% endif %}
{% endblock %}