{% extends "base.html" %}

{% block title %} 主页 {% endblock %}

{% block content %}
    <section id="base" class="container mt-3">
        <div class="row">
            <article class="col-12">
                <div class="card">
                    <div class="card-body mx-lg-2">
                        {% for info in conf['INTRODUCE'] %}
                            <h2> {{ info[0] }} </h2>
                            {{ info[1] | safe }}
                        {% endfor %}

                        <hr>

                        <p> 欢迎页点击量: {{ hello_clicks }} </p>
                        <p> 首页点击量: {{ home_clicks }} </p>

                        <div class="text-end">
                            <div class="btn-group">
                                {% for link in conf['INTRODUCE_LINK'] %}
                                    <a class="btn btn-outline-dark mb-2" href="{{ conf['INTRODUCE_LINK'][link] }}"> {{ link }} </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        `<div class="row">
            {% if current_user.check_role("ReadBlog") %}  {# 检查是否具有读取权限 #}
                {% if current_user.check_role("ReadMsg") %}
                    <article class="col-12 col-lg-8">
                        {% for blog in blog_list %}
                            {{ render_docx(blog, False) }}
                        {% endfor %}
                    </article>
                {% else %}
                    <article class="col-12">
                        {% for blog in blog_list %}
                            {{ render_docx(blog, False) }}
                        {% endfor %}
                    </article>
                {% endif %}
            {% endif %}

            {% if current_user.check_role("ReadMsg") %}  {# 检查是否具有读取权限 #}
                {% if current_user.check_role("ReadBlog") %}
                    <aside class="col-12 col-lg-4">
                        {% for msg in msg_list %}
                            {{ render_msg(msg, False) }}
                        {% endfor %}
                    </aside>
                {% else %}
                    <aside class="col-12">
                        {% for msg in msg_list %}
                            {{ render_msg(msg, False) }}
                        {% endfor %}
                    </aside>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}