{% extends "base.html" %}

{% block title %} 主页 {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/index/index.css') }}" rel="stylesheet">
{% endblock %}

{% block context %}
    <section id="base" class="container mt-3">
        <div class="row">
            <article class="col-12">
                <div class="introduce mr-lg-2 ml-lg-2">
                    {% for info in conf['describe-info'] %}
                        <h2> {{ info[0] }} </h2>
                        {{ info[1] | safe }}
                    {% endfor %}

                    {% for link in conf['describe-link'] %}
                        <a class="btn btn-info mb-2" href="{{ conf['describe-link'][link] }}"> {{ link }} </a>
                    {% endfor %}
                </div>
            </article>
        </div>
        <div class="row">
            {% if current_user.check_role("ReadBlog") %}  {# 检查是否具有读取权限 #}
                {% if current_user.check_role("ReadMsg") %}
                    <article class="col-12 col-lg-8">
                    {% for blog in blog_list %}
                        <div class="docx ml-lg-2"> <a class="h4"
                                                      href="{{ url_for("docx.article_page", blog_id=blog[0]) }}">
                            {{ blog[1] }}
                                <small> {{ blog[2] }}
                                    <small> {{ blog[3] }} </small> </small> </a></div>
                    {% endfor %}
                    </article>
                {% else %}
                    <article class="col-12">
                    {% for blog in blog_list %}
                        <div class="docx"> <a class="h4"
                                              href="{{ url_for("docx.article_page", blog_id=blog[0]) }}">
                            {{ blog[1] }}
                                <small> {{ blog[2] }}
                                    <small> {{ blog[3] }} </small> </small> </a></div>
                    {% endfor %}
                    </article>
                {% endif %}
            {% endif %}

            {% if current_user.check_role("ReadMsg") %}  {# 检查是否具有读取权限 #}
                {% if current_user.check_role("ReadBlog") %}
                    <aside class="col-12 col-lg-4">
                    {% for msg in msg_list %}
                        <div class="msg mr-0 mr-lg-2">
                            <p class="msg-title h5">
                                {% if show_email %}  {# 判断是否可读取用户信息 #}
                                    {{ msg.auth.email }}
                                {% else %}
                                    {{ msg.auth.s_email }}
                                {% endif %}
                                <br> <small>
                                {{ msg.update_time }} </small> </p>
                            <p> {{ msg.context.replace('\n', '<br>') | safe }} </p>
                        </div>
                    {% endfor %}
                    </aside>
                {% else %}
                    <aside class="col-12">
                    {% for msg in msg_list %}
                        <div class="msg">
                            <p class="msg-title h5">
                                {% if show_email %}  {# 判断是否可读取用户信息 #}
                                    {{ msg.auth.email }}
                                {% else %}
                                    {{ msg.auth.s_email }}
                                {% endif %}
                                <br> <small>
                                {{ msg.update_time }} </small> </p>
                            <p> {{ msg.context.replace('\n', '<br>') | safe }} </p>
                        </div>
                    {% endfor %}
                    </aside>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}