{% extends "base.html" %}

{% block title %} 归档 {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/archive/archive.css') }}" rel="stylesheet">
{% endblock %}

{% block context %}
    {% if form and current_user.check_role("WriteBlog") %}
        <div class="container">
            <div class="row">
                <section class="col-12 col-lg-6 offset-lg-3 text-right">
                    <div class="create">
                        <form action="{{ url_for('archive.create_archive_page') }}" method="post">
                            {{ form.hidden_tag() }}
                            <div class="form-group text-left">
                                {{ form.name.label }}
                                {{ form.name(class="form-control") }}
                            </div>

                            <div class="form-group text-left">
                                {{ form.describe.label }}
                                {{ form.describe(class="form-control") }}
                            </div>

                            <div id="CreateModal" class="modal fade" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content text-left">
                                        <div class="modal-header">
                                            <h4 class="modal-title"> 创建归档？ </h4>
                                        </div>
                                        <div class="modal-body">
                                            <p> 是否确认创建归档？ </p>
                                        </div>
                                        <div class="modal-footer">
                                            {{ form.submit(class="btn btn-info", value="确认") }}
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-info mb-2" data-toggle="modal" data-target="#CreateModal"> 创建归档 </button>
                    </form>
                    </div>
                </section>
            </div>
            <hr>
        </div>
    {% endif %}

    <section id="base" class="d-flex mt-3 container justify-content-center flex-wrap">
        {% for archive in archive_list %}
            <div class="archive mb-3 mr-2 ml-2">
                <h3> {{ archive[1] }} </h3>
                <hr>
                <p> {{ archive[2] }} </p>
                <p> 篇数: {{ archive[3] }} </p>
                <a class="btn btn-info" href="{{ url_for("docx.archive_page", archive=archive[0], page=1) }}"> 进入 </a>
                {% if show_delete %}
                    <div id="DeleteModal{{archive[0]}}" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content text-left">
                                <div class="modal-header">
                                    <h4 class="modal-title"> 确认删除归档？ </h4>
                                </div>
                                <div class="modal-body">
                                    <p> 是否确认删除归档 {{ archive[1] }}？ </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger"
                                       href="{{ url_for("archive.delete_archive_page", archive_id=archive[0]) }}"> 删除 </a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> 取消 </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-danger"
                            data-toggle="modal" data-target="#DeleteModal{{archive[0]}}"> 删除归档 </button>
                {% endif %}
            </div>
        {% endfor %}
    </section>
{% endblock %}