<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;400&display=swap" rel="stylesheet">

    <style>
        html {
            font-family: 'Noto Sans SC', sans-serif;
        }
    </style>

    <title> {{ title }} </title>

</head>

<body>
    <h1> {{ title }} </h1>
    <p> 欢迎注册 {{ conf["BLOG_NAME"] }} 用户，请点击以下链接完成认证。 <br> 若您未进行过注册操作，请忽略此邮件。 </p>
    <a href="{{ register_url }}"> 点击完成认证 </a>
</body>
</html>
