.docx {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #0074D9;
    background-color: white;
    padding: 15px;
}

.docx a, .msg .msg-title {
    color: black;
    text-decoration: none;
}

.docx a:hover {
    color: darkblue;
    text-decoration: none;
}

.msg {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #FFDC00;
    padding: 15px;
    background-color: white;
}

.introduce {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #3D9970;
    padding: 15px;
    background-color: white;
}

.introduce p{
    text-indent: 2em;
}