{% extends "base.html" %}

{% block title %} 留言 {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/msg/msg.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section id="base" class="container mt-3">
        <div class="row">
            <section class="col-12 text-end">
                <form class="writer clearfix" action="{{ url_for('msg.write_msg_page', page=page) }}" method="post">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.content(class="form-control mb-2", rows="5") }}
                        {% for error in form.content.errors %}
                            <div class="invalid-feedback"> {{ error }} </div>
                        {% endfor %}
                    </div>

                    <div class="form-check" style="display: inline-block">
                        {{ form.secret(class="form-check-input") }}
                        {{ form.secret.label(class="form-check-label") }}
                    </div>

                    <div id="MsgModal" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content text-start">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="MsgModalLabel"> 确认留言？ </h4>
                                </div>
                                <div class="modal-body">
                                    <p> 是否确认留言？请注意网络用语文明。 </p>
                                </div>
                                <div class="modal-footer">
                                    {{ form.submit(class="btn btn-danger", value="确认") }}
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#MsgModal"> 留言 </button>
                </form>
            </section>
        </div>
        <hr>
        {% if current_user.check_role("ReadMsg") %}  {# 检查是否具有读取权限 #}
            <div class="row">
                <section class="col-12">
                    {% for msg in msg_list %}
                        <div class="msg me-0">
                            {% if show_delete %}
                                <div id="DeleteModal{{msg.id }}" class="modal fade" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content text-start">
                                            <div class="modal-header">
                                                <h4 class="modal-title"> 确认删除留言？ </h4>
                                            </div>
                                            <div class="modal-body">
                                                <p> 是否确认删除留言？ </p>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-danger"
                                                   href="{{ url_for("msg.delete_msg_page", msg=msg.id) }}"> 删除 </a>
                                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal"> 取消 </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <p class="msg-title h5">
                                {% if show_email %}  {# 判断是否可读取用户信息 #}
                                    {{ msg.auth.email }}
                                {% else %}
                                    {{ msg.auth.star_email }}
                                {% endif %}

                                {% if show_delete %}
                                    <a class="mb-2"
                                        data-bs-toggle="modal" data-bs-target="#DeleteModal{{msg.id }}"> &times; </a>
                                {% endif %}

                                <br>
                                <small> {{ msg.update_time }}
                                    {% if msg.secret == is_secret %}
                                        <small> [私密留言] </small>
                                    {% endif %}
                                </small>
                            </p>
                            <p> {{ msg.content.replace('\n', '<br>') | safe }} </p>
                        </div>
                    {% endfor %}
                </section>
            </div>

            <ul class="pagination col-12 justify-content-center">
                {{ macro.get_page_list(page_list, page) }}
            </ul>
        {% endif %}
    </section>
{% endblock %}