{% macro get_page_list(info_lines) %}
    {% for line in info_lines %}
        {% if line %}
            <li class="page-item"><a class="page-link" href="{{ line[1] }}"> {{ line[0] }} </a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link"> ... </a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro render_field(field) %}
    <div class="form-floating my-3">
        {{ field(class="form-control", placeholder=field.label.text, **kwargs) | safe }}
        {{ field.label }}
        {% for error in field.errors %}
            <div class="invalid-feedback"> {{ error }} </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_select_field(field, height) %}
    <div class="my-3">
        {{ field(class="form-select", **kwargs) | safe }}
        {% for error in field.errors %}
            <div class="invalid-feedback"> {{ error }} </div>
        {% endfor %}
    </div>
{% endmacro %}
