html {
    word-break: break-word;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

#foot {
    text-align: center;
    padding-bottom: 10px;
}

#ICP {
    background-color: rgb(255, 255, 255, 60%);
}

#GONG_AN {
    background-color: rgb(255, 255, 255, 60%);
}