{% extends "base.html" %}

{% block title %} 修改密码 {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/auth/passwd.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section id="base" class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <form method="post" action="{{ url_for("auth.change_passwd_page") }}" class="passwd-form">
                {{ ChangePasswdForm.hidden_tag() }}
                {{ macro.render_field(ChangePasswdForm.old_passwd) }}
                {{ macro.render_field(ChangePasswdForm.passwd) }}
                {{ macro.render_field(ChangePasswdForm.passwd_again) }}

                <div class="text-end">
                    {{ ChangePasswdForm.submit(class='btn btn-outline-danger') }}
                </div>
            </form>
        </div>
    </div>
    </section>
{% endblock %}