{% extends "base.html" %}

{% block title %} 注册 {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/auth/register.css') }}" rel="stylesheet">
{% endblock %}

{% block context %}
    <section id="base" class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <form method="post" action="{{ url_for("auth.register_page") }}" class="register-form">
                {{ RegisterForm.hidden_tag() }}
                {{ macro.render_field(RegisterForm.email) }}
                {{ macro.render_field(RegisterForm.passwd) }}
                {{ macro.render_field(RegisterForm.passwd_again) }}
                <div class="text-right">
                    {{ RegisterForm.submit(class='btn btn-success mr-2') }}
                    <a class="btn btn-outline-secondary" href="{{ url_for("auth.login_page") }}"> 前往登录 </a>
                </div>
            </form>
        </div>
    </div>
    </section>
{% endblock %}