{% extends "base.html" %}

{% block title %} 角色管理 {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/auth/role.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section id="base" class="container mt-3">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <ul id="RoleTab" class="nav nav-pills justify-content-center mb-2">
                    <li class="active nav-item">
                        <a href="#create" class="nav-link" data-toggle="tab"> 创建角色 </a>
                    </li>
                    <li class="nav-item">
                        <a href="#drop" class="nav-link" data-toggle="tab"> 删除角色 </a>
                    </li>
                    <li class="nav-item">
                        <a href="#set" class="nav-link" data-toggle="tab"> 设置角色 </a>
                    </li>
                </ul>

                <div id="RoleTabDiv">
                    <div id="RoleTabContent" class="tab-content">
                        <div class="tab-pane fade active" id="create">
                            <form method="post" action="{{ url_for('auth.role_create_page') }}" class="role-form">
                                {{ CreateRoleForm.hidden_tag() }}
                                {{ macro.render_field(CreateRoleForm.name) }}
                                {{ macro.render_field(CreateRoleForm.authority) }}

                                <div id="CreateModal" class="modal fade" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"> 创建角色？ </h4>
                                            </div>
                                            <div class="modal-body">
                                                <p> 是否确认创建角色？ </p>
                                            </div>
                                            <div class="modal-footer">
                                                {{ CreateRoleForm.submit(class='btn btn-danger', value='确认') }}
                                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
                                                    取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <a class="btn btn-outline-danger" data-toggle="modal" data-target="#CreateModal"> 创建角色 </a>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="drop">
                            <form method="post" action="{{ url_for('auth.role_delete_page') }}" class="role-form">
                                {{ DeleteRoleForm.hidden_tag() }}
                                {{ macro.render_field(DeleteRoleForm.name) }}

                                <div id="DeleteModal" class="modal fade" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"> 删除角色？ </h4>
                                            </div>
                                            <div class="modal-body">
                                                <p> 是否确认删除角色？ </p>
                                            </div>
                                            <div class="modal-footer">
                                                {{ DeleteRoleForm.submit(class='btn btn-danger', value='确认') }}
                                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
                                                    取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <a class="btn btn-outline-danger" data-toggle="modal" data-target="#DeleteModal"> 删除角色 </a>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="set">
                            <form method="post" action="{{ url_for('auth.role_set_page') }}" class="role-form">
                                {{ SetRoleForm.hidden_tag() }}
                                {{ macro.render_field(SetRoleForm.email) }}
                                {{ macro.render_field(SetRoleForm.name) }}

                                <div id="SetModal" class="modal fade" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"> 设置角色？ </h4>
                                            </div>
                                            <div class="modal-body">
                                                <p> 是否确认设置角色？ </p>
                                            </div>
                                            <div class="modal-footer">
                                                {{ SetRoleForm.submit(class='btn btn-danger', value='确认') }}
                                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
                                                    取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <a class="btn btn-outline-danger" data-toggle="modal" data-target="#SetModal"> 设置角色 </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        $('#RoleTab .active a').tab('show');  // 显示第一个 tab
    </script>
{% endblock %}